[Desktop Entry]
Icon=unknown
Name=https://github.com/graemeg/freepascal/blob/master/packages/hash/src/uuid.pas
Type=Link
URL[$e]=https://github.com/graemeg/freepascal/blob/master/packages/hash/src/uuid.pas
