[Desktop Entry]
Icon=text-html
Name=http://www.freepascal.org/docs-html/user/userse36.html
Type=Link
URL[$e]=http://www.freepascal.org/docs-html/user/userse36.html
