[Desktop Entry]
Icon=text-html
Name=http://forum.lazarus.freepascal.org/index.php?topic=8655.0
Type=Link
URL[$e]=http://forum.lazarus.freepascal.org/index.php?topic=8655.0
