[Desktop Entry]
Icon=text-html
Name=http://wiki.lazarus.freepascal.org/Console_Mode_Pascal
Type=Link
URL[$e]=http://wiki.lazarus.freepascal.org/Console_Mode_Pascal
