[Desktop Entry]
Icon=text-html
Name=http://stackoverflow.com/questions/11394618/automatically-selecting-buffer-size-for-file-i-o
Type=Link
URL[$e]=http://stackoverflow.com/questions/11394618/automatically-selecting-buffer-size-for-file-i-o
