[Desktop Entry]
Icon=text-html
Name=http://ksearch.wordpress.com/2010/09/23/wildcard-expansion-bash-shell/#more-66
Type=Link
URL[$e]=http://ksearch.wordpress.com/2010/09/23/wildcard-expansion-bash-shell/#more-66
