[Desktop Entry]
Icon=text-html
Name=http://lazarus-ccr.sourceforge.net/docs/rtl/sysutils/expanduncfilename.html
Type=Link
URL[$e]=http://lazarus-ccr.sourceforge.net/docs/rtl/sysutils/expanduncfilename.html
