[Desktop Entry]
Icon=unknown
Name=https://github.com/alrieckert/freepascal/blob/master/packages/hash/src/md5.pp
Type=Link
URL[$e]=https://github.com/alrieckert/freepascal/blob/master/packages/hash/src/md5.pp
