[Desktop Entry]
Icon=text-html
Name=http://www.freepascal.org/docs-html/rtl/sysutils/fileage.html
Type=Link
URL[$e]=http://www.freepascal.org/docs-html/rtl/sysutils/fileage.html
