[Desktop Entry]
Icon=text-html
Name=http://wiki.lazarus.freepascal.org/Command_line_parameters_and_environment_variables
Type=Link
URL[$e]=http://wiki.lazarus.freepascal.org/Command_line_parameters_and_environment_variables
