[Desktop Entry]
Icon=text-html
Name=http://www.delphibasics.co.uk/Article.asp?Name=Exceptions
Type=Link
URL[$e]=http://www.delphibasics.co.uk/Article.asp?Name=Exceptions
