[Desktop Entry]
Icon=unknown
Name=https://gitorious.org/delphi/synapse/source/d934afd91a002824bdd78d6331b1a2956fcb3d94:synacode.pas#L98
Type=Link
URL[$e]=https://gitorious.org/delphi/synapse/source/d934afd91a002824bdd78d6331b1a2956fcb3d94:synacode.pas#L98
