[Desktop Entry]
Icon=text-html
Name=http://wiki.freepascal.org/Multiplatform_Programming_Guide
Type=Link
URL[$e]=http://wiki.freepascal.org/Multiplatform_Programming_Guide
