[Desktop Entry]
Icon=text-html
Name=http://lazarusroad.blogspot.com.es/2007/09/reduce-zlibar-memory-usage-step1.html
Type=Link
URL[$e]=http://lazarusroad.blogspot.com.es/2007/09/reduce-zlibar-memory-usage-step1.html
